<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sidebar Menu</title>
</head>
<body>
<div class="header">
    <div id="sidebar-menu" class="sidebar" data-th-fragment="sidebar-menu">
        <ul class="sidebar-links">
            <li sec:authorize="isAnonymous()"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i><p>Sign In</p></a></li>
            <li sec:authorize="isAuthenticated()"><a href="javascript: document.logoutForm.submit()"> <i class="fa-solid fa-right-from-bracket"></i>
                <p>Sign Out</p></a>
                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out" />
                </form>
            </li>

            <li><a href="/"><i class="fa-solid fa-house"></i><p>Main Page</p></a></li>
            <li sec:authorize="hasRole('TEACHER')"><a href="/grades"><i class="fa-solid fa-school"></i><p>Grades</p></a></li>
            <li sec:authorize="hasRole('TEACHER')"><a href="/attendance/analytics"><i class="fa-solid fa-school"></i><p>Attendance</p></a></li>
        </ul>
    </div>
</div>
</body>
</html>