<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sidebar Menu</title>
</head>
<body>
<div class="header">
    <div id="sidebar-menu" class="sidebar" data-th-fragment="sidebar-menu">
        <ul class="sidebar-links">
            <li><a href="/login"><i class="fa-solid fa-right-to-bracket"></i><p>Sign In</p></a></li>
            <li><a href="/generalSchedule"><i class="fa-regular fa-calendar-days"></i><p>General Schedule</p></a></li>
            <li><a href="/"><i class="fa-solid fa-house"></i><p>Main Page</p></a></li>
            <div class="active"></div>
        </ul>
    </div>
</div>
</body>
</html>