<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Deactivation Page</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="sidebar.css">
    <link rel="stylesheet" type="text/css" href="deactivationPageForm.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8d224a8437.js" crossorigin="anonymous"></script>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
<div class="hero">
    <form th:action="@{/deactivateUser}" method="get">
        <div class="combined-form-box">
            <div class="select-and-button">
                <select name="userId" id="select-user" size="10">
                    <optgroup label="Teachers">
                        <th:block th:each="teacher : ${teachers}">
                            <option th:value="${teacher.id}"
                                    th:text="${'Teacher: ' + teacher.firstName + ' ' + teacher.lastName + ' ' + teacher.email}"></option>
                        </th:block>
                    </optgroup>
                    <optgroup label="Students">
                        <th:block th:each="student : ${students}">
                            <option th:value="${student.id}"
                                    th:text="${'Student: ' + student.firstName + ' ' + student.lastName + ' ' + student.email}"></option>
                        </th:block>
                    </optgroup>
                </select>
                <button type="submit" class="submit-btn" disabled>Deactivate</button>
            </div>
        </div>
    </form>
    <div data-th-replace="~{fragments/sidebar :: sidebar-menu}"></div>
</div>
<script>
$(document).ready(function () {
    $("select").select2();
    $("select").on("change", function () {
        var selectedOption = $(this).find("option:selected").parent().attr("label");
        if (selectedOption === "Teachers" || selectedOption === "Students") {
            $(".submit-btn").prop("disabled", false);
        } else {
            $(".submit-btn").prop("disabled", true);
        }
    });
});
</script>
</body>
</html>
